.compose-view-container
  .compose-header
    h3 What's happening?
    button.close &times;
  textarea.compose-text(placeholder="")
  .compose-info
    span.compose-character-count 140
    button.btn.btn-primary.btn-sm.tweet-button(disabled) Tweet
