aside
  .card.profile-nav
    ul
      li.active(data-tab='tweets')
        a(href='#')
          span.glyphicon.glyphicon-chevron-right.pull-right
          | Tweets
      li(data-tab='following')
        a(href='#')
          span.glyphicon.glyphicon-chevron-right.pull-right
          | Following
      li(data-tab='followers')
        a(href='#')
          span.glyphicon.glyphicon-chevron-right.pull-right
          | Followers
#content-area
  .profile-summary
  .list-view
