nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    ul.nav.navbar-nav
      li
        img.logo(src='images/logo.png')  
img#login-bg(src='images/logintokyostreet.jpg')
.container
  .caption
    h1 Hey Gaijins, Welcome to Japan.
    p Find out hacks and tips about everyday life, accomodation, work and study.
    a.btn.btn-primary(href='/api/v1/login') Sign In with Twitter Account
